{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Login</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'css/ui.css' %}">

</head>

<body>

<div class="container">

    <div class="card">

        <h1>Welcome Back</h1>
        <p>Login to continue</p>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token%}

            <input type="text" placeholder="USername" name="username">

            <input type="password" placeholder="Password" name="password">

            <button>Login</button>

        </form>

        <span>
            Don't have an account?
           
            <a href="{% url 'register' %}">Register</a>
        </span>

    </div>

</div>

</body>
</html>