{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>
    <div class="profile-card">

    {% if profile.profilepic %}
        <img class="profile-pic" src="{{profile.profilepic.url}}">
    {% else %}
        <div class="profile-pic placeholder">
            👤
        </div>
    {% endif %}

    <h2>{{username}}</h2>
    <h2>followers : {{followers}}</h2>

    <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        <input type="file" name="image">

        <textarea
        name="bio"
        placeholder="Write something about yourself...">{{profile.bio}}</textarea>

        <button type="submit">
            Save Profile
        </button>

    </form>

</div>

<h2 class="heading">My Posts</h2>

<div class="post-grid">

{% for psts in posts %}

<div class="post-box">

    <img src="{{psts.image.url}}">

</div>

{% empty %}

<h3>No posts yet.</h3>

{% endfor %}

</div>
</body>
</html>